@each $seccion in informativo, actividades, instalaciones {
  .contenido__#{$seccion}--imagen img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
}

.footer__estilo--cao {
  img {
    width: auto;
    height: 150px;
  }
}

#logo {
  img {
    width: auto;
    height: 100px;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      height: auto;
      width: auto;
    }
  }
}

#logoError {
  width: auto;
  height: 200px;
  margin: auto;
}

.contenido {
  &__tienda {
    &--imagenes {
      img {
        width: 300px;
        height: auto;
        display: block;
        margin: auto;
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          width: 250px;
          height: auto;
        }
      }
    }
  }
  &__compra {
    &--imagenes {
      img {
        width: 450px;
        height: auto;
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          width: 300px;
          height: auto;
        }
      }
    }
  }
}
