<!doctype html>
<html lang="es">
	<head>

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content=" Pagina oficial del Club Atlético Olavarría">
		<meta name="keywords" content="club olavarría deporte tenis paddle squash tienda buffet">

		<!-- Nombre en pagina -->
		<title>CAO | Productos</title>

		<!-- Script para iconos -->
		<script src="https://kit.fontawesome.com/ffef088ad8.js" crossorigin="anonymous"></script>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

		<!-- Nuestro CSS -->
		<link rel="stylesheet" href="../../css/estilo.css">
		
		<!-- logo -->
		<link rel="icon" href="../../assets/img/logo.png" type="image/png" sizes="16x16">
		
		<!-- google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;700&display=swap" rel="stylesheet">
	</head>

	<body>
		<!-- header -->
		<div class="container-fluid header">
			<div class="row header__mobile header__general">
				<div class="col-lg-12 col-xs-12">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<!-- logo -->
						<a href="../../index.html" id="logo">
							<img src="../../assets/img/logo1.png" alt="logo navegador">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-link active" href="../../index.html">Inicio<span class="sr-only">(current)</span></a>
								<a class="nav-link active" href="../actividades.html">Actividades<span class="sr-only">(current)</span></a>
								<a class="nav-link active" href="../instalaciones.html">Instalaciones<span class="sr-only">(current)</span></a>
								<a class="nav-link active" href="../tienda.html" id="seccionActual">Tienda<span class="sr-only">(current)</span></a>
								<a class="nav-link active" href="../contacto.html">Contacto<span class="sr-only">(current)</span></a>
							</div>
						</div>
					</nav>
				</div>			
			</div>
		</div>

		<!-- Contenido -->
		<div class="container contenido">
			<div class="row contenido__compra">
				<section class="col-lg-6 col-xs-12 contenido__compra--imagenes">
						<img src="../../assets/img/remera2.jpg" alt="remera jesus rock gris">
				</section>
				<section class="col-lg-6 col-xs-12 contenido__compra--texto">
					<h2>Remera rock</h2>
					<div>Precio: $2.000</div>
					<ul>
						<li>
							Talle:
							<select name="Talles">
								<option value=""></option>
								<option value="S">Small</option>
								<option value="M">Medium</option>
								<option value="L">Large</option>
								<option value="XL">Extra Large</option>
							</select>
						</li>
						<li>
							Color:
							<select name="Color">
								<option value=""></option>
								<option value="Blue">Azul</option>
								<option value="White">Blanco</option>
								<option value="Black">Negro</option>
								<option value="Green">Verde</option>
							</select>
						</li>
						<li>
							Cantidad:
							<select name="Unidades">
								<option value=""></option>
								<option value="1">1 unidad</option>
								<option value="2">2 unidades</option>
								<option value="3">3 unidades</option>
								<option value="4">4 unidades</option>
							</select>
						</li>
					</ul>
					<a href="../error.html"><input type="submit" value="Comprar"></a>
					<a href="../error.html"><input type="submit" value="Agregar a carrito"></a>
				</section>
			</div>
		</div>

		<!-- Footer -->
		<footer class="container-fluid footer">
			<div class="row footer__estilo">
				<!-- Redes -->
				<div class="col-lg-4 col-xs-12 footer__estilo--redes d-flex flex-column align-items-center">
					<h3><b>Buscanos en:</b></h3>
					<ul class="ubicacionRedes">
						<li>
							<a href="http://www.instagram.com" target="_blank" class="instagram">
								<i class="fab fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://web.whatsapp.com" target="_blank" class="whatsapp">
								<i class="fab fa-whatsapp" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
					<ul class="ubicacionRedes">
						<li>
							<a href="http://www.facebook.com" target="_blank" class="facebook">
								<i class="fab fa-facebook-square" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="http://www.twitter.com" target="_blank" class="twitter">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-4 col-xs-12 d-flex flex-column align-items-center justify-content-end footer__estilo--cao">
					<li>
						<a href="../../index.html">
							<img src="../../assets/img/logo.png" alt="logo club atletico olavarria">
						</a>
					</li>
					<h3>Club Atlético Olavarría</h3>
				</div>
				<div class="col-lg-4 col-xs-12 footer__estilo--pagina d-flex flex-column align-items-center">
					<h3><b>Seguí navegando:</b></h3>
					<ul>
						<li><a href="../../index.html">Inicio</a></li>
						<li><a href="../actividades.html">Actividades</a></li>
						<li><a href="../instalaciones.html">Instalaciones</a></li>
						<li><a href="../tienda.html">Tienda</a></li>
						<li><a href="../contacto.html">Contacto</a></li>
					</ul>
				</div>
				<div class="col-lg-12 col-xs-12 d-flex justify-content-center">
					<p>Copyright © <a href="https://www.linkedin.com/in/martin-fraticelli-b6852b163/" target="_blank">Martin Fraticelli</a>	- 2021</p>
				</div>
			</div>
		</footer>

		<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	</body>
</html>