<!doctype html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content=" Pagina oficial del Club Atlético Olavarría">
		<meta name="keywords" content="club olavarría deporte tenis paddle squash alquiler cancha">

		<!-- Nombre en pagina -->
		<title>CAO | Contacto</title>

		<!-- Script para iconos -->
		<script src="https://kit.fontawesome.com/ffef088ad8.js" crossorigin="anonymous"></script>

		<!-- CSS AOS -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

		<!-- Nuestro CSS -->
		<link rel="stylesheet" href="../css/estilo.css">

		<!-- logo -->
		<link rel="icon" href="../assets/img/logo.png" type="image/png" sizes="16x16">
		
		<!-- google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;700&display=swap" rel="stylesheet">

	</head>
	<body>
		<!-- header -->
		<header class="container-fluid header">
			<div class="row header__mobile header__general">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<!-- logo -->
						<a href="../index.html" id="logo">
							<img src="../assets/img/logo1.png" alt="logo navegador">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-link active" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
								<a class="nav-link active" href="actividades.html">Actividades<span class="sr-only">(current)</span></a>
								<a class="nav-link active" href="instalaciones.html">Instalaciones<span class="sr-only">(current)</span></a>
								<a class="nav-link active" href="tienda.html">Tienda<span class="sr-only">(current)</span></a>
								<a class="nav-link active" id="seccionActual" href="contacto.html">Contacto<span class="sr-only">(current)</span></a>
							</div>
						</div>
					</nav>
				</div>			
			</div>
		</header>

		<!-- Slider-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12 diseñoCarousel">
					<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
							<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="../assets/img/carousel12.jpg" class="d-block w-100" alt="primer imagen de carousel">
								<div class="carousel-caption d-none d-md-block textoImagen">
									<h1>Contactanos</h1>
								</div>
							</div>
							<div class="carousel-item">
								<img src="../assets/img/carousel13.jpg" class="d-block w-100" alt="segunda imagen de carousel">
							</div>
							<div class="carousel-item">
								<img src="../assets/img/carousel14.jpg" class="d-block w-100" alt="tercera imagen de carousel">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Anterior</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Siguiente</span>
						</a>
					</div>
				</div>
			</div>
		</div>


		<!-- Contenido -->
		<div class="container contenido">
			<div class="row contenido__contacto">
				<section class="col-lg-6 col-md-6 col-xs-12">
					<h2> Encontranos en: </h2>
					<ul class="contenido__contacto--datos">
						<li>
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<circle cx="12" cy="11" r="3" />
								<path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
							</svg>
							San Martin 2014
							</li>
						<li> 
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
							</svg>
							4238-9643
						</li>
						<li>
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
								<path d="M9 10a0.5 .5 0 0 0 1 0v-1a0.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a0.5 .5 0 0 0 0 -1h-1a0.5 .5 0 0 0 0 1" />
							</svg>
							11-54637-292
						</li>
					</ul>
				</section>
				<section class="col-lg-6 col-md-6 col-xs-12 contenido__contacto--mapa map-responsive">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d204307.1564278936!2d-60.4271148065114!3d-36.859253692523225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959445daae9e90a3%3A0xd11aadb313dbf072!2sOlavarr%C3%ADa%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1626116636741!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</section>
			</div>
			<div class="row contenido__contacto">
				<section class="col-lg-12 col-md-12 col-xs-12 contenido__contacto--formulario">
					<!-- inicio formulario -->
					<h3> Envianos un mensaje: </h3>
					<form action="#">
						<input type="text" placeholder="Nombre" size="58">
						<br>
						<input type="text" placeholder="Correo" size="58">
						<br>
						<textarea name="" id="" cols="60" rows="10" placeholder="Mensaje"></textarea>
						<br>
						<input class="estiloBoton" type="submit" value="Enviar">
					</form>
					<!-- cierro formulario -->
				</section>
			</div>
		</div>

		<!-- Footer -->
		<footer class="container-fluid footer">
			<div class="row footer__estilo">
				<!-- Redes -->
				<div class="col-lg-4 col-md-4 col-xs-12 footer__estilo--redes d-flex flex-column align-items-center">
					<h3><b>Buscanos en:</b></h3>
					<ul class="ubicacionRedes">
						<li>
							<a href="http://www.instagram.com" target="_blank" class="instagram">
								<i class="fab fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://web.whatsapp.com" target="_blank" class="whatsapp">
								<i class="fab fa-whatsapp" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
					<ul class="ubicacionRedes">
						<li>
							<a href="http://www.facebook.com" target="_blank" class="facebook">
								<i class="fab fa-facebook-square" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="http://www.twitter.com" target="_blank" class="twitter">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-4 col-xs-12 d-flex flex-column align-items-center justify-content-end footer__estilo--cao">
					<li>
						<a href="../index.html">
							<img src="../assets/img/logo.png" alt="logo club atletico olavarria">
						</a>
					</li>
					<h3>Club Atlético Olavarría</h3>
				</div>
				<div class="col-lg-4 col-md-4 col-xs-12 footer__estilo--pagina d-flex flex-column align-items-center">
					<h3><b>Seguí navegando:</b></h3>
					<ul>
						<li><a href="../index.html">Inicio</a></li>
						<li><a href="actividades.html">Actividades</a></li>
						<li><a href="instalaciones.html">Instalaciones</a></li>
						<li><a href="tienda.html">Tienda</a></li>
						<li><a href="contacto.html">Contacto</a></li>
					</ul>
				</div>
				<div class="col-lg-12 col-md-12 col-xs-12 d-flex justify-content-center">
					<p>Copyright © <a href="https://www.linkedin.com/in/martin-fraticelli-b6852b163/" target="_blank">Martin Fraticelli</a>	- 2021</p>
				</div>
			</div>
		</footer>

		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>

		<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	</body>
</html>